@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #FFD845;
}


.pokemon__heading-img {
    width: 610px;
    height: 225px;
}

.pokemon__first-select {
    margin-top: 70px;
    width: 260px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 15px;
}

.pokemon__first-select::placeholder {
    color: #000;
}

.pokemon__first-select + .pokemon__first-select {
    margin-left: 35px;
}
